.menu-item {
	cursor: pointer;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 2.2rem;
	line-height: 24px;
	color: #ffffff;
	position: relative;
	padding-bottom: 0.8rem;

	&:active {
		color: #7f56d9;
	}

	&,
	&::after,
	&::before {
		transition: transform 0.2s linear, color 0.2s linear, background 0.2s linear;
	}

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		height: 3px;
		width: 100%;
		background: #ffffff;
		transform: scaleX(0);
		transform-origin: right;
	}

	&:hover {
		color: #7f56d9;
		&:after {
			background: #7f56d9;
			transform: scaleX(1);
			transform-origin: left;
		}
	}
}
