.main-course-description {
	max-width: 70rem;
	width: 100%;
	color: #1c1d1f;
	font-family: 'Inter';
	background-color: #fff;

	& &__header {
		font-size: 2.4rem;
		line-height: 2.88rem;
		letter-spacing: -0.2px;
		font-weight: bold;
	}

	& &__description {
		margin-top: 1.6rem;
		font-size: 1.6rem;
		line-height: 2.24rem;
	}
}
