.course-atom-home-page {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	max-width: 45rem;
	width: 100%;
	background: #381d74;
	border: 2px solid rgba(255, 255, 255, 0.2);
	border-radius: 30px;
	overflow: hidden;
	font-family: 'Inter';
	font-style: normal;
	transition: background linear 0.3s;
	margin-top: 1.3rem;

	&:hover {
		background: #1e0f3c;
		.course-atom-home-page__image {
			transform: scale(1.2);
		}
	}
	& &__image-cointainer {
		object-fit: cover;
		overflow: hidden;
	}

	& &__image {
		transition: transform linear 0.3s;
		width: 45rem;
		height: 22.8rem;
	}

	& &__content {
		padding: 2.4rem;
	}

	& &__info-cointainer {
		width: 100%;
		display: flex;
		justify-content: space-between;
		font-weight: 500;
		font-size: 1.4rem;
		line-height: 112%;
		color: #d9ecff;
	}

	& &__lesson-cointainer {
		display: flex;
		gap: 1.4rem;
		align-items: center;
	}

	& &__lesson-icon {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 28px;
		height: 28px;
		border-radius: 100%;
		background: #7966ea;
	}

	& &__category {
		display: flex;
		align-items: center;
		padding: 0.8rem 2.6rem 1.1rem 2.6rem;
		background: rgba(218, 218, 247, 0.22);
		border-radius: 17.5px;
	}

	& &__name {
		margin-top: 3.5rem;
		font-weight: 700;
		font-size: 2.4rem;
		line-height: 133%;
		color: #d9ecff;
	}

	& &__author-image {
		img {
			width: 4.3rem;
		}
	}
	& &__author-cointainer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 1.6rem;
		padding-block: 3.1rem 2.4rem;
		border-bottom: 1px solid rgba(218, 218, 247, 0.32);
		border-top: 1px solid rgba(218, 218, 247, 0.32);
	}

	& &__author {
		display: flex;
		gap: 1.6rem;
		align-items: center;
	}

	& &__author-name-cointainer {
		display: flex;
		flex-direction: column;
		gap: 0.7rem;
	}

	& &__author-name {
		font-weight: 600;
		font-size: 16px;
		line-height: 100%;
		color: #d9ecff;
	}

	& &__author-prof {
		font-weight: 400;
		font-size: 14px;
		line-height: 129%;
		color: #d9ecff;
	}

	& &__students-number {
		font-weight: 500;
		font-size: 16px;
		line-height: 112%;
		color: #d9ecff;
		padding-left: 3.6rem;
		padding-block: 1.35rem;
		border-left: 1px solid rgba(218, 218, 247, 0.32);
	}

	& &__evaluation-cointainer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 1.6rem;
	}

	& &__evaluation {
		display: flex;
		gap: 0.4rem;
		color: #fab437;
	}

	& &__enroll {
		cursor: pointer;
		font-weight: 500;
		font-size: 1.4rem;
		line-height: 112%;
		text-decoration-line: underline;

		color: #d9ecff;
	}
}
