.menu-item {
	cursor: pointer;
	font-family: 'Inter';
	font-size: 1.4rem;
	line-height: 1.96rem;
	color: #1c1d1f;
	position: relative;
	margin-top: 0.6rem;
	padding-bottom: 0.6rem;
	width: auto;
	&:active {
		color: #5624d0;
	}

	&,
	&::after,
	&::before {
		transition: transform 0.2s linear, color 0.2s linear, background 0.2s linear;
	}

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		height: 3px;
		width: 100%;
		background: #ffffff;
		transform: scaleX(0);
		transform-origin: right;
	}

	&:hover {
		color: #5624d0;
		&:after {
			background: #5624d0;
			transform: scaleX(1);
			transform-origin: left;
		}
	}
}
