.register-page {
	margin: auto;
	max-width: 1184px;
	width: 100%;
	display: flex;
	justify-content: center;
	margin-block: 4.8rem;

	@media screen and(max-width: 660px) {
		margin-inline: 2.4rem;
		width: calc(100% - 4.8rem);
	}

	@media screen and(max-width: 360px) {
		margin-inline: 1.2rem;
		width: calc(100% - 2.4rem);
	}
}
