.searchbar {
	width: 100%;
	position: relative;
	margin-top: 9.1rem;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 19px;
	line-height: 126%;
	color: #667085;

	& &__search {
		background: #ffffff;
		border-radius: 49.5px;
		height: 80px;
		width: 100%;
		max-width: 550px;
		color: #667085;
		padding-left: 3.3rem;
	}

	& &__button {
		top: 1.2rem;
		right: 3.8rem;
		position: absolute;
	}

	& &__placeholder {
		position: absolute;
		top: 2.4rem;
		left: 3.3rem;
		display: flex;
		align-items: center;
		gap: 1.8rem;
	}
}
