.opinion-atom {
	max-width: 104.5rem;
	width: 100%;
	min-height: 42rem;
	background: #381d74;
	border: 2px solid rgba(255, 255, 255, 0.2);
	border-radius: 30px;
	padding: 4.9rem 3.5rem 4.7rem;

	& &__header {
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding-bottom: 3rem;
		border-bottom: 1px solid rgba(218, 218, 247, 0.32);
		align-items: center;
	}

	& &__flex-row {
		display: flex;
		align-items: center;
		gap: 1.9rem;
	}
	& &__user-image {
		border-radius: 100%;
		width: 43px;
	}

	& &__flex-column {
		display: flex;
		flex-direction: column;
		gap: 0.7rem;
	}

	& &__user-name {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 100%;
		color: #d9ecff;
	}

	& &__user-prof {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 129%;
		color: #d9ecff;
	}

	& &__rating {
		display: flex;
		gap: 0.5rem;
		color: #fab437;
	}

	& &__opinion {
		margin-top: 5.7rem;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 2rem;
		line-height: 160%;
		color: #b0b0d1;
	}

	& &__option {
		cursor: pointer;
		margin-top: 4rem;
		display: flex;
		gap: 1rem;
		justify-content: flex-end;
	}

	& &__option-element {
		transition: transform 0.2s linear;
		&:hover {
			transform: scale(1.2);
		}
	}
}
