.main-course-view-page {
	margin: auto;
	width: 100%;
	& &__sticky-header {
		position: sticky;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 1;
	}

	& &__header {
		background-color: #1c1d1f;
		padding-left: 4.8rem;
	}

	& &__header-content {
		position: relative;
		max-width: 1184px;
		width: 100%;
		margin: auto;
	}

	& &__wrapper {
		max-width: 70rem;
		width: 100%;
	}

	& &__options {
		position: absolute;
		top: 3.2rem;
		right: 4.8rem;
		z-index: 2;
	}

	& &__content-cointainer {
		max-width: 1184px;
		margin: auto;
	}

	& &__content {
		display: flex;
		flex-direction: column;
		padding-top: 3.2rem;
		margin-left: 4.8rem;
		gap: 3.2rem;
		width: 100%;
		max-width: 70rem;
	}

	@media screen and(max-width: 1180px) {
		& &__wrapper {
			max-width: 60rem;
		}
		& &__content {
			padding-top: 3.2rem;
			max-width: 60rem;
		}
	}

	@media screen and(max-width: 1080px) {
		& &__header {
			background-color: #1c1d1f;
			padding-left: 0;
		}

		& &__wrapper {
			margin: auto;
		}
		& &__sticky-header {
			position: fixed;
			bottom: 0;
			left: 0;
			top: auto;
			width: 100%;
			z-index: 1;
		}
		& &__options {
			position: relative;
		}
		& &__content-cointainer {
			max-width: 100%;
		}
		& &__content {
			margin: auto;
		}
	}

	@media screen and(max-width: 640px) {
		& &__header {
			padding-inline: 2.4rem;
		}
		& &__content {
			padding-inline: 2.4rem;
		}
	}

	@media screen and(max-width: 360px) {
		& &__header {
			padding-right: 1.2rem;
			padding-inline: 1.2rem;
		}
		& &__content {
			padding-right: 1.2rem;
			padding-inline: 1.2rem;
		}
	}
}
