@media screen and(max-width: 660px) {
	& &__header {
		padding-inline: 2.4rem;
	}
}

@media screen and(max-width: 360px) {
	& &__header {
		padding-inline: 1.2rem;
	}
}

.main-course-view-page {
	& &__sticky-header {
		position: sticky;
		top: 0;
		left: 0;
		z-index: 1;
	}
	& &__header-bgc {
		background-color: #1c1d1f;
		margin: auto;
	}
	& &__header-wrapper {
		max-width: 1184px;
		width: 100%;
		margin: auto;
		background-color: #1c1d1f;
		position: relative;
	}

	& &__header {
		margin-left: 3.2rem;
		max-width: 700px;
		width: 100%;
	}

	& &__option {
		position: absolute;
		left: 780px;
		top: 0;
		z-index: 2;
	}

	& &__content {
		max-width: 1184px;
		width: 100%;
		margin: auto;
		display: flex;
		gap: 4.8rem;
	}

	& &__left-side {
		max-width: 700px;
		width: 100%;
		margin-top: 3.2rem;
		margin-left: 3.2rem;
		display: flex;
		flex-direction: column;
		gap: 3.2rem;
	}

	@media screen and(max-width: 1180px) {
		& &__left-side {
			max-width: 60rem;
		}

		& &__header {
			max-width: 60rem;
		}

		& &__option {
			left: 680px;
		}
	}

	@media screen and(max-width: 1080px) {
		& &__left-side {
			margin-inline: auto;
		}

		& &__header {
			margin-inline: auto;
		}
		& &__sticky-header {
			position: fixed;
			top: auto;
			bottom: 0;
			left: 0;
			width: 100%;
		}
	}

	@media screen and(max-width: 660px) {
		& &__content {
			margin: auto 2.4rem;
			width: calc(100% - 4.8rem);
		}
		& &__header {
			padding-inline: 2.4rem;
		}
	}

	@media screen and(max-width: 360px) {
		& &__content {
			margin: auto 1.2rem;
			width: calc(100% - 2.4rem);
		}

		& &__header {
			padding-inline: 1.2rem;
		}
	}
}
