.main-section {
	margin: auto;
	max-width: 1414px;
	width: 100%;
	display: flex;
	& &__header {
		margin-top: 3rem;
		max-width: 580px;
		font-family: 'Caladea';
		font-style: normal;
		font-weight: 700;
		font-size: 6rem;
		line-height: 110%;
		letter-spacing: -0.5px;
		color: #fff;

		&--violet {
			color: #bea0ff;
		}
	}

	& &__crosses-wrapper {
		display: inline-block;
		margin-left: 4.5rem;
		margin-bottom: 4rem;
	}

	& &__crosses {
		display: flex;
		gap: 3rem;
	}

	& &__description {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 500;
		font-size: 1.8rem;
		line-height: 160%;
		color: #b0b0d1;
		max-width: 460px;
	}

	& &__student {
		position: relative;
		margin-left: 5rem;
	}
	& &__student-image {
		position: absolute;
		z-index: 1;
	}

	& &__student-background {
		position: absolute;
		z-index: -1;
		left: 20rem;
		top: 5rem;
		width: 43.6rem;
		height: 65.9rem;
		background: rgba(127, 86, 217, 0.5);
		border-radius: 242.5px;
	}
}
