.header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	max-width: 1614px;
	width: 100%;

	gap: 2rem;

	& &__shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 426px;
		height: 426px;
		background: rgba(61, 92, 255, 0.2);
		filter: blur(150px);
		z-index: 2;
	}

	& &__btns {
		display: flex;
		gap: 1.9rem;
	}
}
