.header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	max-width: 1414px;
	width: 100%;

	gap: 2rem;

	& &__btns {
		display: flex;
		gap: 1.9rem;
	}
}
