.menu-burger-atom {
	color: #1c1d1f;
	cursor: pointer;
	display: none;
	padding: 0.4rem 1.2rem;
	transition: 0.2s linear transform;
	&:hover,
	&:active {
		transform: scale(1.05);
	}

	@media screen and (max-width: 800px) {
		display: block;
	}
}
