.menu-tablet-organism {
	min-height: 100vh;
	overflow-y: auto;
	// background-color: rgba(28, 29, 31, 0.5);
	min-width: 100vw;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 4;
	color: #1c1d1f;
	font-family: 'Inter';

	display: none;

	& &__menu {
		padding-block: 1.6rem;
		width: 280px;
		background-color: #fff;
		min-height: 100vh;
	}
	& &__list {
		list-style: none;
	}

	& &__element-list {
		padding-inline: 1.6rem;
		cursor: pointer;

		font-size: 1.6rem;
		margin-bottom: 1.6rem;
		&:hover,
		&:active {
			text-decoration: underline;
		}
	}
	& &__element-list--violet {
		color: #5624d0;
	}

	& &__header {
		font-size: 1.4rem;
		color: #6a6f73;
		font-weight: bold;
		padding-top: 1.6rem;
		border-top: 1px solid #d1d7dc;
		padding-inline: 1.6rem;
		margin-bottom: 1.6rem;
	}

	@media screen and(max-width: 800px) {
		display: block;
	}
}
