.categories-organism {
	border-radius: 20px;
	max-width: 1614px;
	width: 100%;
	margin: auto;
	margin-block: 14.4rem 17.7rem;

	& &__header {
		display: flex;
		justify-content: center;
		font-family: 'Caladea';
		font-style: normal;
		font-weight: 700;
		font-size: 7rem;
		line-height: 100%;
		letter-spacing: -0.5px;
		color: #ffffff;

		&--violet {
			color: #7f56d9;
		}
	}

	& &__content {
		display: flex;
		flex-wrap: wrap;
		gap: 3.1rem;
		margin-top: 11.7rem;
		justify-content: center;
	}

	& &__element {
		cursor: pointer;
		display: flex;
		align-items: center;
		margin-top: 1.2rem;
		border-radius: 2rem;
		border: 2px solid #ffffff33;
		max-width: 380px;
		width: 100%;
		gap: 2rem;
		padding: 1.5rem 1.4rem 1.5rem 2.8rem;
		position: relative;
		transition: border-color 0.3s linear;
		&:hover {
			border-color: #7f56d9;
			.categories-organism__arrow {
				transform: translate(0, 0);
				top: 0;
				right: 0;
			}

			// .categories-organism__label {
			// 	color: #7f56d9;
			// 	text-decoration: underline;
			// }

			.categories-organism__arrow {
				width: 3rem;
			}
		}
	}

	& &__label {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 500;
		font-size: 2.2rem;
		line-height: 100%;
		color: #ffffff;
		// transition: 0.3s linear color;
	}

	& &__arrow-cointainer {
		position: relative;
		display: flex;
		width: 50px;
		height: 50px;
		background: #7f56d9;
		border-radius: 5px;

		margin-left: auto;
	}

	& &__arrow {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: top 0.3s linear, transform 0.3s linear;
	}
}
