.logo-atom {
	display: flex;
	align-items: center;
	gap: 2.204rem;

	& &__logo-cointainer {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 48.96px;
		height: 48.96px;
		background: #7f56d9;
		border-radius: 12.24px;
	}

	& &__string {
		font-family: 'Caladea';
		font-style: normal;
		font-weight: 700;
		font-size: 48px;
		line-height: 40px;
		color: #d9ecff;
	}
}
